#gallery{
	width: 750px;
	display: block;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 0 #f2f4f5;
	color: #666;	
}
#slides{
	margin-left: -760px;
	height: 610px;
	overflow: hidden;
	width: 2280px;
}
.slide-lef, .slide-mid, .slide-rig{
	width: 760px;
	height: 610px;
	float: left;
	position: relative;
}
#map_canvas_lef, #map_canvas_mid, #map_canvas_rig{
	width: 98%;
	height: 250px;
	overflow: hidden;	
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 #f2f4f5;	
	border-radius: 10px;
}
.feed_lef, .feed_mid, .feed_rig{
	overflow-y: scroll;
	height: 330px;
	padding: 10px;
	width: 730px;
	cursor: default;
}
#menu{
	margin-top: -10px;
	display: block;
	height: 40px;
}
img#left, img#middle, img#right{
	border-radius: 10px;
}
img.act{
	height: 32px;
	cursor: default;
}
img.inact{
	height: 28px;
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: 2px;
}
li{
	list-style: none;
}
ul li{
	float: left;
	position: relative;
	height: 32px;
	width: 32px;
	margin-left: 10px;
	margin-right: 10px;
}
ul li:first-child{
	margin-left: 287px;	
}
img.arrow-left{
	float: left;
	margin-left: 10px;
}
img.arrow-right{
	float: right;
	margin-right: 20px;
}